* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.window{
    width: 100%;
    height: 100vh;
    background-color: rgba(240, 248, 255, 0.808);
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    position: fixed;
    object-fit: cover;
    z-index: 0;
    height: 100vh;
    width: 100%;
}
.form{
    display: flex;
    position: relative;
    width: 40rem;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 10px;
    font-family: 'Hind Madurai', sans-serif;
    color: rgb(65, 64, 64);
}
.form input{
    font-size: 17px;
    width: 20rem; 
    height: 2rem;
    text-align: center;
    margin: 7.5px 0px 7.5px 0px;
    background-color: rgba(255, 255, 255, 0.418);
    border: 1px solid black;
    border-radius: 10px;
}
.form button{
    font-size: 17px;
    width: 8rem; 
    height: 2rem;
    text-align: center;
    margin: 7.5px 0px 7.5px 0px;
    background-color: rgba(255, 255, 255, 0.418);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
button:hover{
    box-shadow: none;
}
.logo{
    text-align: center;
}
.form .logo img{
    max-width: 30%;
}
@media (max-width: 1024px) {
    .form .logo img{
        max-width: 50%;
    }
    .form{
        width: 20rem;
        font-size: 0.8rem;
    }
    .form input{
        width: 15rem; 
    }
}