{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Business Center | Riverside Lisbon</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/dashboard1.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap" rel="stylesheet" />
</head>
<header>
  {% include "nav.html" %}
  <div class="banner">
    <img src="{% static 'images/dashback.jpg' %}" alt="" />
  </div>
</header>

<body>
  <div class="welcome">
    <h2>Olá {{request.user.username}}.</h2>
  </div>
  <section id="services" class="services">
    <h1>Escolhe o teu plano:</h1>
    <div class="cards">
      <div class="card">
        <h2>Virtual office</h2>
        <p>from €29/month</p>
        <div id="line"></div>
        <ul>
          <li>Prestige company address</li>
          <li>Mail reception</li>
          <li>Individual meeting rooms</li>
        </ul>
        <button id="virtualplans">Choose plans</button>
      </div>
      <div class="card">
        <h2>Coworking</h2>
        <p>from €30/week</p>
        <div id="line"></div>
        <ul>
          <li>Individual working desk</li>
          <li>High speed Wi-Fi</li>
          <li>Individual meeting rooms</li>
          <li>Privacy and security</li>
        </ul>
        <button id="coworkingplans">Choose plans</button>
      </div>
      <div class="card">
        <h2>Meeting room</h2>
        <p>from €15/hour</p>
        <div id="line"></div>
        <ul>
          <li>Private 2 to 4 pax room</li>
          <li>High speed Wi-Fi</li>
          <li>Large Tv screen</li>
          <li>Privacy and security</li>
        </ul>
        <button id="meetingplans">Choose plans</button>
      </div>
    </div>
  </section>
</body>

</html>
<section class="templatebig" style="display: block" id="coworking">
  <h1 id="page_title">Customiza o teu plano de coworking:</h1>
  <div id="line" style="background-color: rgb(219, 130, 14)"></div>
  <div class="out">
    <a onclick="requestCancelation()" href="/pt">
      <div class="line" id="left"></div>
      <div class="line" id="right"></div>
    </a>
  </div>
  <div class="coworking_banner">
    <div class="form">
      <form action="" method="POST">
        <h2>Escolhe as datas:</h2>
        <input type="daterange" name="daterange" />
        {% csrf_token %}
        <button id="avail_button" type="submit" name="submit_r_form" style="background-color: gray">
          Ver disponibilidade
        </button>
        {% if viewChairs %}
        <p>Lugares disponíveis de {{dates}}:</p>
        <div class="free_chairs">          
          {% for cadeira in freeChair %}
          <div class="chair">
            Cadeira {{cadeira}}<input type="checkbox" name="cadeiras_escolhidas"
             placeholder="Cadeira {{cadeira}}" value="{{cadeira}}" />
          </div>
          {% endfor %}
        </div>
        <br />
        <button type="submit" name="submit_r_form" style="margin: 0; background-color: gray">
          Confirmar
        </button>
        {% endif %}
      </form>
      {% if cadeirasSubmit %}
      <div class="checkout_price">
        <h1 style="margin-right: 5px;">Preço: {{provPrice}} €</h1>
        <button type="button" style="margin: 0;" onclick="requestCheckout()" id="button-checkout">
          Checkout
        </button>
      </div>
      {% endif %}
    </div>
    <div class="model"><img src="{% static 'images/RiversideTopo.png' %}" alt=""></div>
    <div class="checkout_info">
      <div class="checkout_info_text">
        <h2>A tua reserva</h2>
        <p>Datas escolhidas: {{dates}}</p>
        <p>Nr da cadeira: {{nrChairs}}</p>
        <p>Preço: {{provPrice}} €</p>
      </div>
    </div>
    <div id="checkout-form"></div>
  </div>
</section>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/datePicker.css' %}" />

<script>
  var startdate = "{{startdate}}";
  var enddate = "{{enddate}}";
  var price = "{{provPrice}}";
  var customerName = "{{customer_name}}";
  var customerEmail = "{{customer_mail}}";
  var transactionID;

  $('input[name="daterange"]').daterangepicker({
    startDate: startdate,
    endDate: enddate,
    opens: "right",
  });
  function isValidJSON(text) {
    if (
      /^[\],:{}\s]*$/.test(
        text
          .replace(/\\["\\\/bfnrtu]/g, "@")
          .replace(
            /"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g,
            "]"
          )
          .replace(/(?:^|:|,)(?:\s*\[)+/g, "")
      )
    ) {
      return true;
    } else {
      return false;
    }
  }

  function requestCheckout() {
    var startDatetime = new Date($.now());
    var endDatetime = new Date(
      startDatetime.setDate(startDatetime.getDate() + 2)
    );
    console.log(
      startDatetime.getFullYear() +
      "-" +
      startDatetime.getMonth() +
      "-" +
      startDatetime.getDay() +
      "T" +
      startDatetime.getHours() +
      ":" +
      startDatetime.getMinutes() +
      ":" +
      startDatetime.getSeconds() +
      ".040Z"
    );
    console.log(
      endDatetime.getFullYear() +
      "-" +
      endDatetime.getMonth() +
      "-" +
      endDatetime.getDay() +
      "T" +
      endDatetime.getHours() +
      ":" +
      endDatetime.getMinutes() +
      ":" +
      endDatetime.getSeconds() +
      ".040Z"
    );
    var settings = {
      url: "https://spg.qly.site1.sibs.pt/api/v1/payments",
      method: "POST",
      timeout: 0,
      headers: {
        Authorization:
          "Bearer eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJlNzYyMzE3Yi03N2IxLTQ0ZWItYTUzYy0zMjY1ZDY5NTllZGIifQ.eyJpYXQiOjE2NTg4NDIzNTYsImp0aSI6IjkzMjJkYTFlLTgxY2UtNDUxZS1hZmUyLTFjMTJkNWQzMjY5NyIsImlzcyI6Imh0dHBzOi8vcWx5LnNpdGUxLnNzby5zeXMuc2licy5wdC9hdXRoL3JlYWxtcy9RTFkuU1BHLkFQSSIsImF1ZCI6Imh0dHBzOi8vcWx5LnNpdGUxLnNzby5zeXMuc2licy5wdC9hdXRoL3JlYWxtcy9RTFkuU1BHLkFQSSIsInN1YiI6Ijg2YTQ4MDlkLTIyM2MtNDEzZC1iZTA5LWIxNmZiYWVkMzc3MSIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJRTFkuU1BHLkFQSS1DTEkiLCJzZXNzaW9uX3N0YXRlIjoiMjY5YWZhMTEtYzc5OC00MmM4LThlNTctN2I1ZGUwYzhmMTU5Iiwic2NvcGUiOiJvcGVuaWQgb2ZmbGluZV9hY2Nlc3MifQ.MObgJ4bCY_17H378BDRbdCZuceGqMcFIS4PEElGA4U8.eyJtYyI6Ijk5OTk5OTkiLCJ0YyI6IjU1OTExIn0=.C63F60B306287AE4A426B0EE933019BCDFD8C7CEA213B34ABFEFD6BD49E753A8",
        "X-IBM-Client-Id": "10f87673-1058-4da6-8bfd-3de4a6cd5555",
        "Content-Type": "application/json",
      },
      data: JSON.stringify({
        merchant: {
          terminalId: 55911,
          channel: "web",
          merchantTransactionId: "Order Id: 210nk9o9pv",
        },
        customer: {
          customerInfo: {
            customerName: customerName,
            customerEmail: customerEmail,
          },
        },
        transaction: {
          transactionTimestamp: startDatetime,
          description: "Coworking reservation Payment",
          moto: false,
          paymentType: "PURS",
          amount: {
            value: parseFloat(price),
            currency: "EUR",
          },
          paymentMethod: ["CARD", "MBWAY", "REFERENCE"],
          paymentReference: {
            initialDatetime: startDatetime,
            finalDatetime: endDatetime,
            maxAmount: {
              value: parseFloat(price),
              currency: "EUR",
            },
            minAmount: {
              value: parseFloat(price),
              currency: "EUR",
            },
            entity: "24000",
          },
        },
      }),
    };

    $.ajax(settings).done(function (response) {
      console.log(response)
      $(".coworking_banner .model").css({display: "none"});
      $(".coworking_banner .form").css({display: "none"});
      $(".coworking_banner .checkout_info").css({display: "flex"});
      $("#checkout-form").css({display: "block"});
      console.log(response);
      const FORM_CONFIG = {
        paymentMethodList: [],
        amount: {value: parseFloat(price), currency: "EUR"},
        language: "en",
        redirectUrl: "http://127.0.0.1:8000/ctanks",
        customerData: null,
      };
      const FORM_STYLE = {
        layout: "default",
        theme: "--light",
        color: {
          primary: "",
          secondary: "",
          border: "",
          surface: "",
          header: {
            text: "",
            background: "white",
          },
          body: {
            text: "",
            background: "white",
          },
        },
        font: "Roboto",
      };
      const ta_ConfigValue = JSON.stringify(FORM_CONFIG, undefined, 4);
      const ta_StyleValue = JSON.stringify(FORM_STYLE, undefined, 4);
      const form = document.createElement("form");
      const script = document.createElement("script");
      var base_url = "https://spg.qly.site1.sibs.pt/assets/js/widget.js?id=";
      var transactionSignature = response.transactionSignature;
      var formContext = response.formContext;

      transactionID = response.transactionID;

      base_url += transactionID;

      script.setAttribute("src", base_url);

      form.classList.add("paymentSPG");

      form.setAttribute("spg-context", formContext);

      if (isValidJSON(ta_ConfigValue)) {
        const configParams = JSON.parse(ta_ConfigValue);
        form.setAttribute("spg-config", JSON.stringify(configParams));
      } else {
        alert("Invalid Form Configuration json!");
      }
      if (isValidJSON(ta_StyleValue)) {
        const styleParams = JSON.parse(ta_StyleValue);
        form.setAttribute("spg-style", JSON.stringify(styleParams));
      } else {
        alert("Invalid Form Style json!");
      }
      document.getElementById("checkout-form").appendChild(script);
      document.getElementById("checkout-form").appendChild(form);
      document.getElementById("page_title").innerHTML =
        "Reserve your coworking plan";
    });
  }
  function requestCancelation() {
    console.log(transactionID)
    var startDatetime = new Date($.now());

    var settings = {
      url: "https://spg.qly.site1.sibs.pt/api/v1/payments/"+transactionID+"/cancelation",
      method: "POST",
      timeout: 0,
      headers: {
        Authorization:
          "Bearer eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJlNzYyMzE3Yi03N2IxLTQ0ZWItYTUzYy0zMjY1ZDY5NTllZGIifQ.eyJpYXQiOjE2NTg4NDIzNTYsImp0aSI6IjkzMjJkYTFlLTgxY2UtNDUxZS1hZmUyLTFjMTJkNWQzMjY5NyIsImlzcyI6Imh0dHBzOi8vcWx5LnNpdGUxLnNzby5zeXMuc2licy5wdC9hdXRoL3JlYWxtcy9RTFkuU1BHLkFQSSIsImF1ZCI6Imh0dHBzOi8vcWx5LnNpdGUxLnNzby5zeXMuc2licy5wdC9hdXRoL3JlYWxtcy9RTFkuU1BHLkFQSSIsInN1YiI6Ijg2YTQ4MDlkLTIyM2MtNDEzZC1iZTA5LWIxNmZiYWVkMzc3MSIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJRTFkuU1BHLkFQSS1DTEkiLCJzZXNzaW9uX3N0YXRlIjoiMjY5YWZhMTEtYzc5OC00MmM4LThlNTctN2I1ZGUwYzhmMTU5Iiwic2NvcGUiOiJvcGVuaWQgb2ZmbGluZV9hY2Nlc3MifQ.MObgJ4bCY_17H378BDRbdCZuceGqMcFIS4PEElGA4U8.eyJtYyI6Ijk5OTk5OTkiLCJ0YyI6IjU1OTExIn0=.C63F60B306287AE4A426B0EE933019BCDFD8C7CEA213B34ABFEFD6BD49E753A8",
        "X-IBM-Client-Id": "10f87673-1058-4da6-8bfd-3de4a6cd5555",
        "Content-Type": "application/json",
      },
      data: JSON.stringify({
        "merchant": {
          "terminalId": 55911,
          "channel": "web",
          "merchantTransactionId": "BO_Order Id: oqq3isvv1s"
        },
        "transaction": {
          "transactionTimestamp": startDatetime,
          "description": "Transaction short description",
          "amount": {
            "value": parseFloat(price),
            "currency": "EUR"
          },
          "originalTransaction": {
            "id": ""
          }
        }
      }),
    };

    $.ajax(settings).done(function (response) {
      console.log(response)
    });
  }
</script>