{% load static %}
<html id="Html" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Business Center | Riverside Lisbon</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/dashboard1.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap" rel="stylesheet" />
</head>
<header>
  {% include "templates_pt/nav_pt.html" %}
  <div class="banner">
    <img src="{% static 'images/dashback.jpg' %}" alt="" />
  </div>
</header>

<body>
  <div id="payment_info_board">
    <form action="" method="post" id="paymentStatus">{% csrf_token %}</form>
  </div>
  <section class="Html">
    <div class="welcome">
      <h2>Bem vindo {{request.user.username}}.</h2>
    </div>
    <section id="services" class="services">
      <h1>Faz a tua reserva:</h1>
      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="service-card">
            <h2>Escritório Virtual</h2>
            <p>desde €29/mês</p>
            <div id="line"></div>
            <ul>
              <li>Endereço de empresa prestigiado</li>
              <li>Receção de emails</li>
              <li>Salas de reunião individuais</li>
              <li>Consultoria Legal e Fiscal</li>
            </ul>
           
            <button id="virtualplans">Choose plans</button>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="service-card">
            <h2>Coworking</h2>
            <p>desde €30/semana</p>
            <div id="line"></div>
            <ul>
              <li>Secretária individual de trabalho</li>
              <li>Wi-Fi de alta velocidade</li>
              <li>Salas de reunião individuais</li>
              <li>Privacidade e segurança</li>
            </ul>
            <button><a href="/pt/coworkingSimulation">Veja os planos</a></button>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="service-card">
            <h2>Sala de reunião</h2>
            <p>desde €15/mês</p>
            <div id="line"></div>
            <ul>
              <li>Quarto privado para 2 a 4 pessoas</li>
              <li>Wi-Fi de alta velocidade</li>
              <li>Grande ecrã de televisão</li>
              <li>Privacidade e segurança</li>
          </ul>
          <button id="meetingplans_1">Veja os planos</button>
          </div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        <div style="text-align: center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>
      <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides((slideIndex += n));
        }

        function currentSlide(n) {
          showSlides((slideIndex = n));
        }

        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {
            slideIndex = 1;
          }
          if (n < 1) {
            slideIndex = slides.length;
          }
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex - 1].style.display = "block";
          dots[slideIndex - 1].className += " active";
        }
      </script>
      <div id="dashCards" class="cards">
        <div class="service-card">
          <h2>Escritório virtual</h2>
          <p>desde €29/mês</p>
          <div id="line"></div>
          <ul>
              <li>Endereço de empresa prestigiado</li>
              <li>Receção de emails</li>
              <li>Salas de reunião individuais</li>
              <li>Consultoria Legal e Fiscal</li>
          </ul>
          <button id="virtualplans_1">Veja os planos</button>
        </div>
        <div class="service-card">
          <h2>Coworking</h2>
          <p>desde €30/semana</p>
          <div id="line"></div>
          <ul>
              <li>Secretária individual de trabalho</li>
              <li>Wi-Fi de alta velocidade</li>
              <li>Salas de reunião individuais</li>
              <li>Privacidade e segurança</li>
          </ul>
          <button><a href="/pt/coworkingSimulation">Veja os planos</a></button>
        </div>
        <div class="service-card">
          <h2>Sala de reunião</h2>
          <p>desde €15/hora</p>
          <div id="line"></div>
          <ul>
              <li>Quarto privado para 2 a 4 pessoas</li>
              <li>Wi-Fi de alta velocidade</li>
              <li>Grande ecrã de televisão</li>
              <li>Privacidade e segurança</li>
          </ul>
          <button id="meetingplans">Veja os planos</button>
        </div>
      </div>
    </section>
  </section>
</body>

</html>
<section class="template" id="virtualoffice">
  <h1>Escolhe um plano do Virtual office</h1>
  <div id="line"></div>
  <div class="out" id="out1">
    <div class="line" id="left"></div>
    <div class="line" id="right"></div>
  </div>
  <div class="slideshow-container">
    <div class="mySlides_1 fade">
      <div class="card">
        <h2>Básico</h2>
        <h4 style="padding-bottom: 10px">Para colocares o teu negócio em Lisboa</h4>
        <ul>
          <li>Endereço de empresa prestigiado</li>
          <li>Conformidade fiscal</li>
          <li>Caixa de Correio individual</li>
          <li>Recepção e encaminhamento de correio</li>
          <li>Suporte virtual pessoal</li>
          <li><br /></li>
        </ul>
        <button id="virtualofficeButton1_1">Entrar em contacto</button>
      </div>
    </div>

    <div class="mySlides_1 fade">
      <div class="card">
        <h2>Premium</h2>
        <h4 style="padding-bottom: 10px">Para hospedar seus clientes e parceiros</h4>
        <ul>
          <li>Prestige Office Address</li>
          <li>Fiscal compliant</li>
          <li>Individual Mailbox</li>
          <li>Mail reception and forwarding</li>
          <li>Personal virtual support</li>
          <li><b>4h/week meeting room included</b></li>
        </ul>
        <button id="virtualofficeButton2_1">Entrar em contacto</button>
      </div>
    </div>

    <a class="prev" style="margin-top: -60px" onclick="plusSlides_1(-1)">❮</a>
    <a class="next" style="margin-top: -60px" onclick="plusSlides_1(1)">❯</a>

    <div style="text-align: center">
      <span class="dot_1" onclick="currentSlide_1(1)"></span>
      <span class="dot_1" onclick="currentSlide_1(2)"></span>
    </div>
  </div>

  <script>
    let slideIndex_1 = 1;
    showSlides_1(slideIndex_1);

    function plusSlides_1(n) {
      showSlides_1((slideIndex_1 += n));
    }

    function currentSlide_1(n) {
      showSlides_1((slideIndex_1 = n));
    }

    function showSlides_1(n) {
      let i_1;
      let slides_1 = document.getElementsByClassName("mySlides_1");
      let dots_1 = document.getElementsByClassName("dot_1");
      if (n > slides_1.length) {
        slideIndex_1 = 1;
      }
      if (n < 1) {
        slideIndex_1 = slides_1.length;
      }
      for (i_1 = 0; i_1 < slides_1.length; i_1++) {
        slides_1[i_1].style.display = "none";
      }
      for (i_1 = 0; i_1 < dots_1.length; i_1++) {
        dots_1[i_1].className = dots_1[i_1].className.replace(" active", "");
      }
      slides_1[slideIndex_1 - 1].style.display = "block";
      dots_1[slideIndex_1 - 1].className += " active";
    }
  </script>
  <div id="dashCards" class="cards">
    <div class="card">
      <h2>Básico</h2>
      <h4 style="padding-bottom: 10px">Para colocares o teu negócio em Lisboa</h4>
      <ul>
        <li>Endereço de empresa prestigiado</li>
                    <li>Conformidade fiscal</li>
                    <li>Caixa de Correio individual</li>
                    <li>Recepção e encaminhamento de correio</li>
                    <li>Suporte virtual pessoal</li>
        <li><br /></li>
      </ul>
      <button id="virtualofficeButton1">Entrar em contacto</button>
    </div>
    <div class="card">
      <h2>Premium</h2>
      <h4 style="padding-bottom: 10px">Para hospedar seus clientes e parceiros</h4>
      <ul>
       <li>Endereço de empresa prestigiado</li>
                    <li>Conformidade fiscal</li>
                    <li>Caixa de Correio individual</li>
                    <li>Recepção e encaminhamento de correio</li>
                    <li>Suporte virtual pessoal</li>
                    <li>4h/semana salas de reuinão individuais</li>
      </ul>
      <button id="virtualofficeButton2">Entrar em contacto</button>
    </div>
  </div>
</section>
<section class="template" id="meeting">
  <h1>Escolhe o teu plano da sala de reunião</h1>
  <div id="line"></div>
  <div class="out">
    <a href="/pt">
      <div class="line" id="left"></div>
      <div class="line" id="right"></div>
    </a>
  </div>
  <div class="slideshow-container">
    <div class="mySlides_2 fade">
      <div class="card">
        <h2>Bundle 5 horas</h2>
        <p>€8/hora</p>
        <div id="line"></div>
        <ul>
         <li>Sala de reunião para 2 a 4 pessoas</li>
                    <li>Ecrã de telivisão LCD grande</li>
                    <li>Wi-fi de alta velociadade</li>
                    <li>Flexibilidade de horário</li>
        </ul>
        <button onclick="bundleFiveRequest()">Selecionar plano</button>
      </div>
    </div>

    <div class="mySlides_2 fade">
      <div class="card">
        <h2>Bundle 10 horas</h2>
        <p>€7/hora</p>
        <div id="line"></div>
        <ul>
         <li>Sala de reunião para 2 a 4 pessoas</li>
                    <li>Ecrã de telivisão LCD grande</li>
                    <li>Wi-fi de alta velociadade</li>
                    <li>Flexibilidade de horário</li>
        </ul>
        <button><a href="">Selecionar plano</a></button>
      </div>
    </div>

    <div class="mySlides_2 fade">
      <div class="card">
        <h2>Reserva pelo número de horas</h2>
        <p>€10/hora</p>
        <div id="line"></div>
        <ul>
         <li>Sala de reunião para 2 a 4 pessoas</li>
                    <li>Ecrã de telivisão LCD grande</li>
                    <li>Wi-fi de alta velociadade</li>
                    <li>Flexibilidade de horário</li>
        </ul>
        <button><a href="/meetingRoomPersonalizada">Selecionar plano</a></button>
      </div>
    </div>

    <a class="prev" style="margin-top: -60px" onclick="plusSlides_2(-1)">❮</a>
    <a class="next" style="margin-top: -60px" onclick="plusSlides_2(1)">❯</a>

    <div style="text-align: center">
      <span class="dot_2" onclick="currentSlide_2(1)"></span>
      <span class="dot_2" onclick="currentSlide_2(2)"></span>
    </div>
  </div>
  <script>
    let slideIndex_2 = 1;
    showSlides_2(slideIndex_2);

    function plusSlides_2(n) {
      showSlides_2((slideIndex_2 += n));
    }

    function currentSlide_2(n) {
      showSlides_2((slideIndex_2 = n));
    }

    function showSlides_2(n) {
      let i_2;
      let slides_2 = document.getElementsByClassName("mySlides_2");
      let dots_2 = document.getElementsByClassName("dot_2");
      if (n > slides_2.length) {
        slideIndex_2 = 1;
      }
      if (n < 1) {
        slideIndex_2 = slides_2.length;
      }
      for (i_2 = 0; i_2 < slides_2.length; i_2++) {
        slides_2[i_2].style.display = "none";
      }
      for (i_2 = 0; i_2 < dots_2.length; i_2++) {
        dots_2[i_2].className = dots_2[i_2].className.replace(" active", "");
      }
      slides_2[slideIndex_2 - 1].style.display = "block";
      dots_2[slideIndex_2 - 1].className += " active";
    }
  </script>
  <div id="bundle_cards" class="cards">
    <div class="card">
      <h2>Bundle 5 horas</h2>
      <p>€8/hora</p>
      <div id="line"></div>
      <ul>
        <li>Sala de reunião para 2 a 4 pessoas</li>
                    <li>Ecrã de telivisão LCD grande</li>
                    <li>Wi-fi de alta velociadade</li>
                    <li>Flexibilidade de horário</li>
      </ul>
      <button onclick="bundleFiveRequest()">Selecionar plano</button>
    </div>
    <div class="card">
      <h2>Bundle 10 horas</h2>
      <p>€7/hora</p>
      <div id="line"></div>
      <ul>
        <li>Sala de reunião para 2 a 4 pessoas</li>
                    <li>Ecrã de telivisão LCD grande</li>
                    <li>Wi-fi de alta velociadade</li>
                    <li>Flexibilidade de horário</li>
      </ul>
      <button onclick="bundleTenRequest()">Selecionar plano</button>
    </div>
    <div class="card">
      <h2>Reserva pelo número de horas</h2>
      <p>€10/hora</p>
      <div id="line"></div>
      <ul>
        <li>Sala de reunião para 2 a 4 pessoas</li>
                    <li>Ecrã de telivisão LCD grande</li>
                    <li>Wi-fi de alta velociadade</li>
                    <li>Flexibilidade de horário</li>
      </ul>
      <button><a href="/meetingRoomPersonalizada">Selecionar plano</a></button>
    </div>
  </div>
  <div class="payment_part">
    <div id="checkout_info_text"></div>
    <div id="checkout-form"></div>
  </div>
</section>
<section class="template" id="virtualofficeInfo">
  <h1>&#9432; Info</h1>
  <div id="line"></div>
  <div class="out" id="out4">
    <div class="line" id="left"></div>
    <div class="line" id="right"></div>
  </div>
  <h3>
    Para este tipo de serviço, nós pedimos-te que, por favor, nos dês alguns detalhes
    sobre o que precisas, para que possamos desenhar o setup que mais se adeque a si.
  </h3>
  <button style="float: right; margin: 2rem 15rem 0rem 0rem" id="continueToMessage">
    Completar formulário
  </button>
</section>
<section class="template" id="sendmessage">
  <h1>Mensagem:</h1>
  <div id="line"></div>
  <div class="out" id="out5">
    <div class="line" id="left"></div>
    <div class="line" id="right"></div>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    <input type="text" id="name" name="name" placeholder="Name" required /><br />
    <input type="text" id="Industry" name="Industry" placeholder="Industry" required /><br />
    <input type="text" id="employees" name="employees" placeholder="Number of employees" /><br />
    <input type="text" id="country" name="country" placeholder="Company's HQ" /><br />
    <input type="text" id="description" name="description" placeholder="description" /><br />
    <button type="submit">Enviar</button>
  </form>
</section>
<div class="notification" id="messageTable">
  <div class="out" id="out6">
    <div class="line" id="left"></div>
    <div class="line" id="right"></div>
  </div>
  <table>
    <tr>
      <th>Data</th>
      <th>Razão</th>
      <th>Mensagem</th>
    </tr>
    {% for mensagem in MensagensPendentes %}
    <tr>
      <td>{{mensagem.date}}</td>
      <td>{{mensagem.Reason}}</td>
      <td>{{mensagem.ClientMessage}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% if difference != 0 %}
<div class="notification" id="coworkingTable">
  <div class="out" id="out7">
    <div class="line" id="left"></div>
    <div class="line" id="right"></div>
  </div>
  <table>
    <tr>
      <th>Datas</th>
      <th>Lugares</th>
      <th>Dias</th>
      <th>Preço</th>
    </tr>
    {% for reserva in reservas %}
    <tr>
      <td>{{reserva.startDate}} / {{reserva.endDate}}</td>
      <td>{{reserva.nrLugares}} lugares</td>
      <td>{{difference}} dias</td>
      <td>{{reserva.valor}}€</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %} {% include "templates_pt/footer.html" %}
<script>
  var price_js;
  var customerName = "{{user.username}}";
  var customerEmail = "{{user.mail}}";
  var url
  function isValidJSON(text) {
    if (
      /^[\],:{}\s]*$/.test(
        text
          .replace(/\\["\\\/bfnrtu]/g, "@")
          .replace(
            /"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g,
            "]"
          )
          .replace(/(?:^|:|,)(?:\s*\[)+/g, "")
      )
    ) {
      return true;
    } else {
      return false;
    }
  }
  function bundleFiveRequest() {
    console.log("Entrou");
    price_js = 50;
    url = "http://127.0.0.1:8000/m5tanks"
    $(".slideshow-container").css({display: "none"});
    $("#bundle_cards").css({display: "none"});

    requestCheckout();
  }
  function bundleTenRequest() {
    console.log("Entrou");
    price_js = 90;
    url = "http://127.0.0.1:8000/m10tanks"
    $(".slideshow-container").css({display: "none"});
    $("#bundle_cards").css({display: "none"});

    requestCheckout();
  }
  function requestCheckout() {
    var startDatetime = new Date($.now());
    var endDatetime = new Date(
      startDatetime.setDate(startDatetime.getDate() + 2)
    );
    console.log(
      startDatetime.getFullYear() +
      "-" +
      startDatetime.getMonth() +
      "-" +
      startDatetime.getDay() +
      "T" +
      startDatetime.getHours() +
      ":" +
      startDatetime.getMinutes() +
      ":" +
      startDatetime.getSeconds() +
      ".040Z"
    );
    console.log(
      endDatetime.getFullYear() +
      "-" +
      endDatetime.getMonth() +
      "-" +
      endDatetime.getDay() +
      "T" +
      endDatetime.getHours() +
      ":" +
      endDatetime.getMinutes() +
      ":" +
      endDatetime.getSeconds() +
      ".040Z"
    );
    var settings = {
      url: "https://spg.qly.site1.sibs.pt/api/v1/payments",
      method: "POST",
      timeout: 0,
      headers: {
        Authorization:
          "Bearer eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJlNzYyMzE3Yi03N2IxLTQ0ZWItYTUzYy0zMjY1ZDY5NTllZGIifQ.eyJpYXQiOjE2NTg4NDIzNTYsImp0aSI6IjkzMjJkYTFlLTgxY2UtNDUxZS1hZmUyLTFjMTJkNWQzMjY5NyIsImlzcyI6Imh0dHBzOi8vcWx5LnNpdGUxLnNzby5zeXMuc2licy5wdC9hdXRoL3JlYWxtcy9RTFkuU1BHLkFQSSIsImF1ZCI6Imh0dHBzOi8vcWx5LnNpdGUxLnNzby5zeXMuc2licy5wdC9hdXRoL3JlYWxtcy9RTFkuU1BHLkFQSSIsInN1YiI6Ijg2YTQ4MDlkLTIyM2MtNDEzZC1iZTA5LWIxNmZiYWVkMzc3MSIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJRTFkuU1BHLkFQSS1DTEkiLCJzZXNzaW9uX3N0YXRlIjoiMjY5YWZhMTEtYzc5OC00MmM4LThlNTctN2I1ZGUwYzhmMTU5Iiwic2NvcGUiOiJvcGVuaWQgb2ZmbGluZV9hY2Nlc3MifQ.MObgJ4bCY_17H378BDRbdCZuceGqMcFIS4PEElGA4U8.eyJtYyI6Ijk5OTk5OTkiLCJ0YyI6IjU1OTExIn0=.C63F60B306287AE4A426B0EE933019BCDFD8C7CEA213B34ABFEFD6BD49E753A8",
        "X-IBM-Client-Id": "10f87673-1058-4da6-8bfd-3de4a6cd5555",
        "Content-Type": "application/json",
      },
      data: JSON.stringify({
        merchant: {
          terminalId: 55911,
          channel: "web",
          merchantTransactionId: "Order Id: 210nk9o9pv",
        },
        customer: {
          customerInfo: {
            customerName: customerName,
            customerEmail: customerEmail,
          },
        },
        transaction: {
          transactionTimestamp: startDatetime,
          description: "bundle reservation Payment",
          moto: false,
          paymentType: "PURS",
          amount: {
            value: price_js,
            currency: "EUR",
          },
          paymentMethod: ["CARD", "MBWAY", "REFERENCE"],
          paymentReference: {
            initialDatetime: startDatetime,
            finalDatetime: endDatetime,
            maxAmount: {
              value: price_js,
              currency: "EUR",
            },
            minAmount: {
              value: price_js,
              currency: "EUR",
            },
            entity: "24000",
          },
        },
      }),
    };

    $.ajax(settings).done(function (response) {
      console.log(response);
      $(".coworking_banner .model").css({display: "none"});
      $(".coworking_banner .form").css({display: "none"});
      $(".coworking_banner .checkout_info").css({display: "flex"});
      $("#checkout-form").css({display: "block"});
      console.log(response);
      const FORM_CONFIG = {
        paymentMethodList: [],
        amount: {value: price_js, currency: "EUR"},
        language: "en",
        redirectUrl: url,
        customerData: null,
      };
      const FORM_STYLE = {
        layout: "default",
        theme: "--light",
        color: {
          primary: "",
          secondary: "",
          border: "",
          surface: "",
          header: {
            text: "",
            background: "white",
          },
          body: {
            text: "",
            background: "white",
          },
        },
        font: "Roboto",
      };
      const ta_ConfigValue = JSON.stringify(FORM_CONFIG, undefined, 4);
      const ta_StyleValue = JSON.stringify(FORM_STYLE, undefined, 4);
      const form = document.createElement("form");
      const script = document.createElement("script");
      var base_url = "https://spg.qly.site1.sibs.pt/assets/js/widget.js?id=";
      var transactionSignature = response.transactionSignature;
      var formContext = response.formContext;

      transactionID = response.transactionID;

      base_url += transactionID;

      script.setAttribute("src", base_url);

      form.classList.add("paymentSPG");

      form.setAttribute("spg-context", formContext);

      if (isValidJSON(ta_ConfigValue)) {
        const configParams = JSON.parse(ta_ConfigValue);
        form.setAttribute("spg-config", JSON.stringify(configParams));
      } else {
        alert("Invalid Form Configuration json!");
      }
      if (isValidJSON(ta_StyleValue)) {
        const styleParams = JSON.parse(ta_StyleValue);
        form.setAttribute("spg-style", JSON.stringify(styleParams));
      } else {
        alert("Invalid Form Style json!");
      }
      $(".payment_part").css({display: "flex"});
      if (price_js === 50) {
        console.log("Entrou");
        document.getElementById("checkout_info_text").innerHTML =
          "<h2>Your Product</h2> <p>Product: 5h Bundle</p> <p>Price: " +
          price_js +
          "€</p>";
      }
      if (price_js === 90) {
        console.log("Entrou");
        document.getElementById("checkout_info_text").innerHTML =
          "<h2>Your Product</h2> <p>Product: 10h Bundle</p> <p>Price: " +
          price_js +
          "€</p>";
      }
      document.getElementById("checkout-form").appendChild(script);
      document.getElementById("checkout-form").appendChild(form);
    });
  }

  $(document).ready(function () {
    $("#virtualplans").click(function () {
      $("#virtualoffice").slideToggle("fast");
      $("#meeting").slideUp("fast");
    });
    $("#virtualplans_1").click(function () {
      $("#virtualoffice").slideToggle("fast");
      $("#meeting").slideUp("fast");
    });
    $("#meetingplans").click(function () {
      $("#meeting").slideToggle("fast");
      $("#virtualoffice").slideUp("fast");
    });
    $("#meetingplans_1").click(function () {
      $("#meeting").slideToggle("fast");
      $("#virtualoffice").slideUp("fast");
    });
    $("#out1").click(function () {
      $("#virtualoffice").slideUp("fast");
    });
    $("#out3").click(function () {
      $("#meeting").slideUp("fast");
    });
    $("#out4").click(function () {
      $("#virtualofficeInfo").slideUp("fast");
    });
    $("#out5").click(function () {
      $("#sendmessage").slideUp("fast");
      $("#virtualofficeInfo").slideUp();
      $("#virtualoffice").slideUp("slow");
    });
    $("#out6").click(function () {
      $("#messageTable").slideUp("fast");
    });
    $("#out7").click(function () {
      $("#coworkingTable").slideUp("fast");
    });
    $("#MensagensPendentes").click(function () {
      $("#messageTable").slideToggle("slow");
    });
    $("#coworkingDays").click(function () {
      $("#coworkingTable").slideToggle("slow");
    });
    $("#virtualofficeButton1").click(function () {
      $("#virtualofficeInfo").slideToggle("slow");
    });
    $("#virtualofficeButton1_1").click(function () {
      $("#virtualofficeInfo").slideToggle("slow");
    });
    $("#virtualofficeButton2").click(function () {
      $("#virtualofficeInfo").slideToggle("slow");
    });
    $("#virtualofficeButton2_1").click(function () {
      $("#virtualofficeInfo").slideToggle("slow");
    });
    $("#continueToMessage").click(function () {
      $("#sendmessage").slideToggle("fast");
    });
  });
</script>