{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Center | Riverside Lisbon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap"
      rel="stylesheet"
    />
  </head>
  <header>
    {% include "templates_pt/nav_pt.html" %}
    <div class="banner">
      <img src="{% static 'images/dashback.jpg' %}" alt="" />
    </div>
  </header>
  <body>
    <section class="Html">
      <div class="welcome">
        <h2>Galeria</h2>
      </div>
      <div class="pics" id="pics_pc">
        <img src="{% static 'images/hall.jpg' %}" style="width: 40rem" alt="" />
        <img
          src="{% static 'images/hallView.jpg' %}"
          style="width: 40rem"
          alt=""
        />
        <img src="{% static 'images/eatingSpace.jpg' %}" alt="" />
        <img
          src="{% static 'images/topView.jpg' %}"
          style="width: 40rem"
          alt=""
        />
        <img
          src="{% static 'images/roundTable.jpg' %}"
          style="flex-grow: 2"
          alt=""
        />
        <img
          src="{% static 'images/nameDouro.jpg' %}"
          style="width: 30rem"
          alt=""
        />
        <img
          src="{% static 'images/meetingRoomBig3.jpg' %}"
          style="width: 40rem"
          alt=""
        />
        <img
          src="{% static 'images/meetingRoomBig2.jpg' %}"
          style="width: 35rem"
          alt=""
        />
        <img
          src="{% static 'images/nameSado.jpg' %}"
          style="width: 30rem"
          alt=""
        />
        <img
          src="{% static 'images/meetingRoomSmall2.jpg' %}"
          style="flex-grow: 2"
          alt=""
        />
        <img
          src="{% static 'images/nameMondego.jpg' %}"
          style="width: 35rem"
          alt=""
        />
        <img
          src="{% static 'images/meetingRoomSmall.jpg' %}"
          style="flex-grow: 2"
          alt=""
        />
      </div>
      <div class="pics" id="pics_mobile">
        <img src="{% static 'images/hall.jpg' %}" style="width: 40rem" alt="" />
        <img
          src="{% static 'images/hallView.jpg' %}"
          style="width: 40rem"
          alt=""
        />
        <img src="{% static 'images/eatingSpace.jpg' %}" alt="" />
        <img
          src="{% static 'images/topView.jpg' %}"
          style="width: 40rem"
          alt=""
        />
        <img
          src="{% static 'images/roundTable.jpg' %}"
          style="flex-grow: 2"
          alt=""
        />
        <img
          src="{% static 'images/nameDouro.jpg' %}"
          style="width: 30rem"
          alt=""
        />
        <img
          src="{% static 'images/meetingRoomBig3.jpg' %}"
          style="width: 40rem"
          alt=""
        />
        <img
          src="{% static 'images/meetingRoomBig2.jpg' %}"
          style="width: 35rem"
          alt=""
        />
        <img
          src="{% static 'images/nameSado.jpg' %}"
          style="width: 30rem"
          alt=""
        />
        <img
          src="{% static 'images/meetingRoomSmall2.jpg' %}"
          style="flex-grow: 2"
          alt=""
        />
        <img
          src="{% static 'images/nameMondego.jpg' %}"
          style="width: 35rem"
          alt=""
        />
        <img
          src="{% static 'images/meetingRoomSmall.jpg' %}"
          style="flex-grow: 2"
          alt=""
        />
      </div>
    </section>
  </body>
</html>
{% include "templates_pt/footer.html" %}
