{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Center | Riverside Lisbon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav2.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap" rel="stylesheet">
</head>
<header>
    <nav id="web-mobile">
        <div class="mobile_logo_lisbon">
            <img src="{% static 'images/lisbonlogops_white.png' %}" alt="" />
        </div>
        <div id="signOut" style="position: absolute; height: 3rem; right: 1rem; ">
            <a type="submit" id="signIn" style="    right: 2rem;
                top: 50%;
                position: relative;
                left: 50%;
                transform: translate(-50%,-50%);" href="/signout">SignOut</a>
        </div>
    </nav>
    <nav id="web-pc">
        <div class="logo_lisbon">
            <img src="{% static 'images/lisbonlogops_white.png' %}" alt="" />
        </div>
        <div class="social-icons">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
            <a id="socialIcon" href="https://www.facebook.com/profile.php?id=100082891012715"><i
                    class="fab fa-facebook-f"></i></a>
            <a id="socialIcon" href="https://www.instagram.com/lisbonriverside.cowork/"><i
                    class="fab fa-instagram"></i></a style="">
            <a id="socialIcon" href="mailto:lisbonriverside@gmail.com"><i class="fas fa-envelope"></i></a>
            <a id="socialIcon" href="https://www.linkedin.com/in/riverside-lisboncoworking/"><i
                    class="fab fa-linkedin"></i></a>
            <a id="user">
                <i class="fa fa-user"></i> {{request.user.username}}
            </a>
            <div id="signOut">
                <li><a type="submit" href="/signout">SignOut</a></li>
            </div>
        </div>
    </nav>
    <div class="banner">
        <img src="{% static 'images/dashback.jpg' %}" alt="">
    </div>
    <script>
        function openNav() {
            document.getElementById('burger').classList.toggle('is-open')
            document.getElementById('main-nav').classList.toggle('is-open')
            document.getElementById('logo-nav').classList.toggle('is-open')
        }
        $(document).ready(function () {
            $("#user").click(function () {
                $("#signOut").slideToggle("fast");
            });
        });
    </script>
</header>

<body>
    <section class="Html">
        <div class="welcome">
            <h2>Staff {{request.user.username}}.</h2>
        </div>
    </section>
    <section class="site_info">
        <div id="info_text">Utilizadores:<br>{{nrUsers}}</div>
        <div id="info_text">Reservas:<br>{{nrReservas}}</div>
        <div id="info_text">Mensagens(Pendentes):<br>{{nrMensagens}}</div>
    </section>
    <section class="Users">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                <caption>
                    Users:
                </caption>
                <tr>
                    <th>username</th>
                    <th>name</th>
                    <th>email</th>
                    <th>last login</th>
                    <th>joining date</th>
                    <th>status</th>
                    <th>delete</th>
                </tr>
                {% for user in all_users %}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.last_login}}</td>
                    <td>{{user.date_joined}}</td>
                    <td>
                        {% if user.is_superuser or user.is_staff%}
                        staff
                        {% else %}
                        client
                        {% endif %}
                    </td>
                    <td><input type="checkbox" name="users_to_delete" value="{{user.username}}"></td>
                </tr>
                {% endfor %}
            </table>
            <button onclick="checkdelete()" type="button" id="submit_button">submit</button>
            <div class="aviso">
                <h2>Are you sure you want to delete?</h2>
                <div class="out">
                    <a href="/">
                        <div class="line" id="left"></div>
                        <div class="line" id="right"></div>
                    </a>
                </div>
                <button type="submit" style="background-color: rgba(248, 112, 112, 0.726);">Delete</button>
            </div>
            <script>
                function checkdelete() {
                    $(".aviso").css({'display': 'block'});
                }
            </script>
        </form>
    </section>
    <section class="reservations_coworking">
        <div class="dataTable">
            {% if nrReservas %}
            <table>
                <caption>
                    Coworking Reservations:
                </caption>
                <tr>
                    <th>user</th>
                    <th>Date of reservation</th>
                    <th>Number of days</th>
                    <th>lugares</th>
                    <th>Price paid</th>
                </tr>
                {% for reserva in all_reservas %}
                <tr>
                    <td>{{reserva.user}}</td>
                    <td>{{reserva.startDate}} - {{reserva.endDate}}</td>
                    <td>{{reserva.nrDias}} days</td>
                    <td>
                        {% if reserva.chair1 %}
                        | 1
                        {% endif %}
                        {% if reserva.chair2 %}
                        | 2
                        {% endif %}
                        {% if reserva.chair3 %}
                        | 3
                        {% endif %}
                        {% if reserva.chair4 %}
                        | 4
                        {% endif %}
                        {% if reserva.chair5 %}
                        | 5
                        {% endif %}
                        {% if reserva.chair6 %}
                        | 6
                        {% endif %}
                        {% if reserva.chair7 %}
                        | 7
                        {% endif %}
                        {% if reserva.chair8 %}
                        | 8
                        {% endif %}
                        {% if reserva.chair9 %}
                        | 9
                        {% endif %}
                        {% if reserva.chair10 %}
                        | 10
                        {% endif %}
                        {% if reserva.chair11 %}
                        | 11
                        {% endif %}
                        {% if reserva.chair12 %}
                        | 12
                        {% endif %}
                    </td>
                    <td>{{reserva.cost_price}}€</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h2>You don't have any Reservations</h2>
            {% endif %}
        </div>
    </section>
    <section class="transactions">
        <div class="dataTable">
            <table>
                <caption>Transactions</caption>
                <tr>
                    <th>user</th>
                    <th>transactionId</th>
                    <th>status</th>
                    <th>payment_Method</th>
                    <th>price</th>
                </tr>
                {% for transaction in all_transactions%}
                {% if transaction.status != "Pending" %}
                <tr>

                    <td>{{transaction.user}}</td>
                    <td>{{transaction.transactionId}}</td>
                    <td>{{transaction.status}}</td>
                    <td>{{transaction.payment_Method}}</td>
                    <td>{{transaction.price}}</td>
                    {% if transaction.status == "Pending" and transaction.payment_Method == "REFERENCE" %}
                    <td><a href="/{{transaction.transactionId}}/cancelation"><button>Cancel</button></a></td>
                    {% elif transaction.status == "Success" %}
                    <td><a href="/{{transaction.transactionId}}/refund"><button>Refund</button></a></td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </section>
</body>

</html>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    window.onload = () => {
        if (window.location.href.indexOf("?id=") > -1) {
            var id = window.location.href;
            window.location.href += "#getStatusForm";
            transactionID = id.split('=')[1];
            console.log("statusTid = " + transactionID);
            getTransactionStatus(transactionID);
        }
    }
    function getTransactionStatus(k) {
        console.log("https://spg.qly.site1.sibs.pt/api/v1/payments/" + k + "/status");
        var myHeaders = new Headers();
        myHeaders.append("X-IBM-Client-Id", "10f87673-1058-4da6-8bfd-3de4a6cd5555");
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJlNzYyMzE3Yi03N2IxLTQ0ZWItYTUzYy0zMjY1ZDY5NTllZGIifQ.eyJpYXQiOjE2MzYzOTM1MDksImp0aSI6ImQyMDgyYzg5LTUyNTYtNDhhZi05ZTRjLTgxYzFmMTZjNjU0MCIsImlzcyI6Imh0dHBzOi8vcWx5LnNpdGUxLnNzby5zeXMuc2licy5wdC9hdXRoL3JlYWxtcy9RTFkuU1BHLkFQSSIsImF1ZCI6Imh0dHBzOi8vcWx5LnNpdGUxLnNzby5zeXMuc2licy5wdC9hdXRoL3JlYWxtcy9RTFkuU1BHLkFQSSIsInN1YiI6ImIwYzY0YWEyLTUwN2UtNDc2Yy04Y2JiLTRhNzQ1YzJkNWQxNCIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJRTFkuU1BHLkFQSS1DTEkiLCJzZXNzaW9uX3N0YXRlIjoiNWRkNGY1Y2QtMDAxZS00MDc1LWFkNzEtNmJmYzQwMWQ0N2YxIiwic2NvcGUiOiJvcGVuaWQgb2ZmbGluZV9hY2Nlc3MifQ.5M5UO9vsCRoiMJAsED9KE02NMGyRGeMIQiSeJp61Wug.eyJtYyI6Ijk5OTk5OTkiLCJ0YyI6IjUyMjIxIn0=.6C4FD46EC4D546EDF9F742CC813DD600929181BD08A96747FA7266FE1CFF850B");

        var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
        };

        fetch("https://spg.qly.site1.sibs.pt/api/v1/payments/" + k + "/status", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    }
    $(document).ready(function () {
        $("#virtualplans").click(function () {
            $("#virtualoffice").slideToggle("fast");
            $("#meeting").slideUp("fast");
        });
        $("#meetingplans").click(function () {
            $("#meeting").slideToggle("fast");
            $("#virtualoffice").slideUp("fast");
        });
        $("#out1").click(function () {
            $("#virtualoffice").slideUp("fast");
        });
        $("#out3").click(function () {
            $("#meeting").slideUp("fast");
        });
        $("#out4").click(function () {
            $("#virtualofficeInfo").slideUp("fast");
        });
        $("#out5").click(function () {
            $("#sendmessage").slideUp("fast");
            $("#virtualofficeInfo").slideUp();
            $("#virtualoffice").slideUp("slow");
        });
        $("#out6").click(function () {
            $("#messageTable").slideUp("fast");
        });
        $("#out7").click(function () {
            $("#coworkingTable").slideUp("fast");
        });
        $("#MensagensPendentes").click(function () {
            $("#messageTable").slideToggle("slow");
        });
        $("#coworkingDays").click(function () {
            $("#coworkingTable").slideToggle("slow");
        });
        $("#virtualofficeButton1").click(function () {
            $("#virtualofficeInfo").slideToggle("slow");
        });
        $("#virtualofficeButton2").click(function () {
            $("#virtualofficeInfo").slideToggle("slow");
        });
        $("#continueToMessage").click(function () {
            $("#sendmessage").slideToggle("fast")
        });
    });
</script>