{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Center | Riverside Lisbon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/wallet.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap"
      rel="stylesheet"
    />
  </head>
  <header>
    {% include "nav.html" %}
    <div class="banner">
      <img src="{% static 'images/dashback.jpg' %}" alt="" />
    </div>
  </header>
  <body>
    <section class="Html">
      <div class="welcome">
        <h2>Your wallet.</h2>
      </div>
      <div class="walletBanner">
        <div class="card">
            <h2>Pending requests</h2>
            <h3>2</h3>
        </div>
        <div class="card">
            <h2>Hours Available - Meeting Room</h2>
            <h3>{{meetingRoomHours}} hours</h3>

        </div>
      </div>
      <div class="dataTable">
        {% if nrReservas %}
        <table>
          <caption>
            Coworking Reservations:
          </caption>
          <tr>
            <th>Date of reservation</th>
            <th>Number of days</th>
            <th>Price paid</th>
          </tr>
          {% for reserva in reservas %}
          <tr>
            <td>{{reserva.startDate}} - {{reserva.endDate}}</td>
            <td>{{reserva.nrDias}} days</td>
            <td>{{reserva.cost_price}}€</td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <h2>You don't have any Reservations</h2>
        {% endif %}
      </div>
      <div class="dataTable">
        {% if nrReservasMeeting %}
        <table>
          <caption>
            Meeting room Reservations:
          </caption>
          <tr >
            <th>Date of reservation</th>
            <th>Time</th>
            <th>Payment with wallet</th>
            <th>Price paid</th>
          </tr>
          {% for reserva in reservasMeeting %}
          <tr>
            <td>{{reserva.date}}</td>
            <td>{{reserva.startTime}} - {{reserva.endTime}}</td>
            <td>Yes</td>
            <td>{{reserva.cost_price}}€</td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <h2>You don't have any meetingRoom Reservations</h2>
        {% endif %}
      </div>
    </section>
  </body>
</html>
{% include "footer.html" %}
