{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
<section id="location" class="Location">
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Alameda%20dos%20oceanos%2011A%20Lisboa&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://123movies-to.org"></a><br>
        </div>
    </div>
    <div class="info">
        <div class="shedule">
            <h1>Schedule</h1>
            <p>Open: 24/7</p>
            <p>Admin: Monday - Friday (08h00 - 17h00)</p>
        </div>
        <div class="address">
            <h1>Address</h1>
            <p>Alameda dos Oceanos 11A, 1990-196 Parque das Nações, Lisboa</p>
        </div>
        <div class="contacts">
            <h1>Contacts</h1>
            <p>Phone: <a href="tel:+351910767271">+351 910 767 271</a></p>
            <p>Email: <a href="mailto:lisbonriverside@gmail.com">lisbonriverside@gmail.com</a></p>
        </div>
        <div class="footer">
            <div class="logo"><img src="{% static 'images/lisbonlogops.png' %}" alt=""></div>
            <p>Copyright 2022 by RiversideLisbon. All Rights Reserved.</p>
        </div>
    </div>
</section>    