{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Grades | Alterar palavra-passe</title>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{% static 'css/signup1.css' %}" />
  <link rel="icon" type="image/png" href="{% static 'images/grades-logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/nav2.css' %}" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<header>
  <nav id="web-pc">
    <div class="logo_lisbon">
      <img src="{% static 'images/lisbonlogops_white.png' %}" alt="" />
    </div>
    <div class="social-icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
      <a id="socialIcon" href="https://www.facebook.com/profile.php?id=100082891012715"><i
          class="fab fa-facebook-f"></i></a>
      <a id="socialIcon" href="https://www.instagram.com/lisbonriverside.cowork/"><i class="fab fa-instagram"></i></a
        style="">
      <a id="socialIcon" href="mailto:lisbonriverside@gmail.com"><i class="fas fa-envelope"></i></a>
      <a id="socialIcon" href="https://www.linkedin.com/in/riverside-lisboncoworking/"><i
          class="fab fa-linkedin"></i></a>
          <a type="submit" id="signIn" href="/signin">Back</a>
    </div>
  </nav>
</header>

<video autoplay muted preload='none' loop src="{% static 'images/dronelisbon.mp4' %}"></video>
<div class="window">
  <section class="form">
    <h3 style="font-family: 'PT Sans'; font-size: 140%;">Alterar palavra-passe</h3>

    <p style="font-family: 'Rubik'; font-size: 80%; color: #444;">Esqueceu-se da sua palavra-passe? Introduza o seu
      email abaixo e nós enviá-lo-emos um email com instruções para escrever uma nova.</p>

    <br><br>
    <form method="post">

      {% csrf_token %}
      {{form}}
      <input id="enviar" type="Submit" name="Send email">

    </form>
  </section>    
</div>

</html>