
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Grades | Alterar palavra-passe</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static '/css/reset-style.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/grades-logo.png' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  </head>
  <body>

<fieldset>
<h3 style="font-family: 'PT Sans'; font-size: 140%;">Reposição de palavra-passe enviada completa</h3>
<br>
<p style="font-family: 'Rubik'; font-size: 80%; color: #444;">A sua palavra-passe foi alterada. Pode entrar no site agora.</p>

<br><br>
<form method="post">

{% csrf_token %}
{{form}}
<a href="{% url 'signin' %}"><input id="entrar" value="Entrar"></a>

</form>
</fieldset>
  </body>
</html>
